// Import page-specific CSS files here.
@import "home";
.card-product {
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  height: 300px;
  width: 600px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  transition: box-shadow 0.3s ease;
}

.card-product:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 6px 0 0 6px;
}

.card-product .card-product-infos {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  color: #333333;
}

.card-product p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.8;
  margin: 8px 0;
  color: #666666;
}

.btn-wrapper {
  margin-top: 15px;
}

.btn-card {
  display: block;
  width: 100%;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-card:hover {
  background-color: #2980b9;
}



.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: Helvetica;
}



h1 {
  font-family: sans-serif;
}
