<form class="simple_form new_space" id="new_space" novalidate="novalidate" action="/spaces" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="6mcCvU7ZazpIBcJTptw/8y4EucmzccFWli7tFUzX6IJEx8wq6PFC7m4rA1Jy+W4YW1hlhYhSOyhZefWtOM5ofQ==">
  <div class="mb-3 string optional space_name">
    <label class="string optional" for="space_name">Name</label>
    <input class="form-control string optional" type="text" name="space[name]" id="space_name">
  </div>
  <div class="mb-3 string optional space_address">
    <label class="string optional" for="space_address">Address</label>
    <input class="form-control string optional" type="text" name="space[address]" id="space_address">
  </div>
  <input type="submit" name="commit" value="Create Space" data-disable-with="Create Space">
</form>
