<h1>View Spaces</h1>

<% @spaces.each do |space| %>
    <%= link_to "" , space_path(space) %>
    <a href="<%= space_path(space) %>"><%= space.name %></a>
    <br>

<% end %>

<%= link_to "Create Your own Space " , new_space_path(@space) %>
